* {
    /* give everything the logical box sizing */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    /* prevent long words from leaking out of the box */
    /* (browser before 2020) */
    overflow-wrap: break-word;
    word-break: break-word;
}

/* prevent long words from leaking out of the box */
/* (browser after 2020) */
@supports( overflow-wrap: anywhere ) {
    * {
        /* better but implemented in 2020 */
        overflow-wrap: anywhere;
        word-break: normal;
    }
}


:root {
    font-size: 16px;
    
    /* nice font settings */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

img, svg, picture, video {
    /* handles images and svg as blocks */
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6, thead, button {
    /* makes it nicer if title is divided on 2 lines */
    text-wrap: balance;
}

p, li, figcaption {
    /* prevents lonely words on a newline (will try to put 2 at least) */
    text-wrap: pretty;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-size: 1rem;
    letter-spacing: inherit;
    cursor: pointer;
}

/* Disable blue highlight on button click */
button, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}